body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.container {
    top: 15vh;
    height: 40vh;
    width: 20vw;
    position: fixed;
    color: white;
    text-align: right;
}

.element {
    background-color: rgb(39, 37, 37);
    height: 10vh;
    line-height: 10vh;
    transform: translateX(-10vw);
    transition: 1s;
    padding-right: 1.5vw;
    cursor: pointer;
}

.element:nth-child(even) {
    background-color: rgb(57, 55, 55);
}

.element:hover {
    transform: translateX(-0.2vw);
    padding-right: 7vw;
    border: 2px solid white;
}
